.ce-popover__items {
  @apply dark:text-black;
}

.image-url-wrapper {
  @apply w-full;

  .image-url-input {
    @apply w-full;
  }
}

.image-selection-wrapper {
  @apply flex flex-col items-center gap-2.5;
}

.open-gallery-button {
  @apply px-4 py-2 text-sm cursor-pointer border-none bg-green-700 hover:bg-green-700 text-white rounded;
  transition: background-color 0.3s ease;
}

.image-preview-wrapper {
  @apply relative;

  .image-preview {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 10px;
  }

  &:hover~.action-hover {
    @apply visible;
  }

  .resize-handle {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #333;
    cursor: nwse-resize;
  }
}

.caption-input {
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;

  &:focus {
    outline: none !important;
    -webkit-box-shadow: none;
  }
}

.image-modal {
  background: rgba(0, 0, 0, 0.7);
  @apply fixed top-0 left-0 w-full h-full flex items-center justify-center z-[1000];

  .modal-content {
    @apply bg-white p-5 rounded-lg flex flex-wrap gap-5 max-w-[840px] max-h-[80%] overflow-y-auto flex-col;

    .image-section {
      @apply flex flex-row gap-4 flex-wrap mx-auto;

      .modal-image-option {
        @apply w-full h-full max-w-[100px] max-h-[100px] object-cover rounded cursor-pointer;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }
      }
    }

    .btn-load-more {
      @apply inline-block px-4 py-2 bg-green-700 hover:bg-green-800 text-white border-none rounded cursor-pointer w-fit mx-auto;
      transition: background-color 0.3s ease;
    }

    .footer-btn {
      @apply flex flex-row gap-4 w-full justify-end border-t-2;

      .close-modal-button {
        @apply inline-block mt-4 px-4 py-2 bg-red-700 hover:bg-red-800 text-white border-none rounded cursor-pointer;
        transition: background-color 0.3s ease;
      }

      .apply-modal-button {
        @apply inline-block mt-4 px-4 py-2 bg-green-700 hover:bg-green-800 text-white border-none rounded cursor-pointer;
        transition: background-color 0.3s ease;
      }
    }
  }
}

.action-hover {
  @apply absolute top-10 left-1/2 flex flex-row gap-3 invisible duration-300;

  &:hover {
    @apply visible;
  }

  .btn {
    @apply px-3 py-2 border rounded-full bg-green-700 hover:bg-green-800 w-11 h-11;
  }
}